@page "/editbarang/{Id}"
@inherits EditBarangBase
@attribute [Authorize(Roles = "Admin")]

<h3>Edit Barang</h3>
<EditForm Model="EditedBarang" OnValidSubmit="Edit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="namaBarang">Nama Barang</label>
        <InputText @bind-Value="EditedBarang.NamaBarang" id="namaBarang" class="form-control" />
    </div>
    <div class="form-group">
        <label for="hargaBarang">Harga Barang</label>
        <InputNumber @bind-Value="EditedBarang.Harga" id="hargaBarang" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>


