@page "/tambahbarang"
@inherits TambahBarangBase
@attribute [Authorize(Roles = "Admin")]

<h3>Tambah Barang</h3>
<EditForm Model="Barang" OnValidSubmit="TambahBarang">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="namaBarang">Nama Barang</label>
        <InputText @bind-Value="Barang.NamaBarang" id="namaBarang" class="form-control" />
    </div>
    <div class="form-group">
        <label for="hargaBarang">Harga Barang</label>
        <p>
            Rp<InputNumber @bind-Value="Barang.Harga" id="hargaBarang" class="form-control" />
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
